$font-family: "Roboto", sans-serif;
$font-family: 'Work Sans', sans-serif;

$white: #fffffe;
$dark-blue: #232946;
$pink: #fa9ec1;
$pastel-blue: #b8c1ec;


$dark-background: #232946;
$light-background: #b8c1ec;

$spacing: 2rem;
